body {
    position: relative !important;
}

#myNavbar{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-weight: bold; 
}

#intro {
    padding-top: 50px;
    color: #fff;
    height: 100%;
    background-color: #1E88E5;
    background-image: url('images/bck.jpg');
    background-position: fixed !important;
    background-repeat: no-repeat;
    background-size: cover!important;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    font-size: 16px;
    color:black;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;;
    min-width: 150px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration:solid underline;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}



#about {
    padding-top: 50px;
    height: 100%;
    color: #fff;
    background-color: #bc9af6;
    background-size: cover;
}

#aboutBckgrdImge{
    background-image: url('images/aboutImg1.png');
    height: 340px;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: indigo;
}

#projects {
    padding-top: 50px;
    height: 100%;
    color: #fff;
    background-color: #1f2235;;
}

.card {
    border-left:  3px solid #f5ba09;
    border-bottom: 8px solid #f5ba09;
  }

#rewards {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #00bcd4;
}

#details {
    padding-top: 50px;
    height: 250px;
    color: #fff;
    background-color: #009688;
}
#social {
    padding-top: 50px;
    height: 250px;
    color: #fff;
    background-color: #009688;
}

#table{
    text-align: center;
    width:780px;
    color:black;
}


.intropara{
    color : white;
    font-size:medium;
}

.copy{
    color: white;
}

.modal{
    color:black;
}
.modalpara{
    color:black;
}

#social a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}